html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font: 14px "Century Gothic", Futura, sans-serif;
}

h1 {
  text-align: center;
}

.place-list {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.place {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 50px;
}

.place > img {
  margin-right: 20px;
  min-width: 250px;
  height: auto;
}

.place_link {
  text-decoration: underline;
  color: blue;
  margin-left: 5px;
  cursor: pointer;
}

.place-details-wrapper {
  display: flex;
  flex-direction: column;
  margin: 20px;
  align-items: center;
}

.place-details-wrapper > img {
  width: 50%;
  margin: 50px 0;
}

.back-nav {
  width: 100%;
}

.home-link {
  cursor: pointer;
}

